@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-inter: "Inter", sans-serif; 
}

@layer base {
  :root {
    --background: #fff;
    --foreground: #020817;

    --card: #fff;
    --card-foreground: #020817;

    --popover: #fff;
    --popover-foreground: #020817;

    --primary: #ff6f61;
    --primary-foreground: #f8fafc;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --snow: #fcfaf8;
    --moon-blue: #7db4c4;
    --outer-space: #464a51;
    --lemon: #c2e812;
    --jungle-green: #1d3136;
    --rose-wood: #c8a7a7;
    --roman-silver: #808c98;

    --border: #dbdbdb;
    --input: #dbdbdb;
    --ring: #020817;

    --radius: 0.8rem;

    .font-outline-2 {
      -webkit-text-stroke: 1.1px black;
    }
    .font-outline-4 {
      -webkit-text-stroke: 4px black;
    } 
  }

  html,
  body {
    font-size: 10px;
    background-color: var(--snow);
    line-height: 1;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
}